body {
    background-color: rgb(59, 79, 106);
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}

#content {
    width: 50%;
    padding-top: 1%;
    margin-left: auto;
    margin-right: auto;
}

#header {
    font-size: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
    margin-bottom: 25%;
}

#header-img {
    width: 25%;
    background-color: rgb(37, 52, 73);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.341);
    border: 5px solid;
    border-radius: 50%;
    border-color: rgb(50, 69, 96);
}

.content-div,
.socials-sub-div,
#project-content-div {
    padding: 2%;
    border-radius: 30px;
    background-color: rgb(49, 67, 93);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-txt-div {
    width: 50%;
    display: grid;
    justify-content: center;
    text-align: center;
}

.content-title,
.project-title {
    margin-top: 10px;
    margin-bottom: 5px;
}

.content-txt {
    margin-top: 5px;
    margin-bottom: 10px;
}

.content-separator-h {
    width: 20%;
}

.content-separator-v {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 0;
}

.link,
#email {
    color: aliceblue;
    text-decoration: underline;
}

.link:hover {
    color: gainsboro;
}

#socials-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials-sub-div {
    width: 100%;
}

#socials-ul {
    text-align: left;
}

#project-content-div {
    display: grid;
    align-items: center;
    justify-items: center;
}

#project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}

.project-li {
    flex: 0 0 calc(33.33% - 10px);
    background-color: rgb(39, 55, 78);
    border-radius: 30px;
    padding: 2%;
    margin: 5px;
    box-sizing: border-box;
}

.project-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.project-title {
    text-align: center;
    width: 100%;
    margin: 5%;
}

.project-img {
    width: 25%;
}

.project-links-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
}

.project-button {
    color: aliceblue;
    text-decoration: none;
    flex: 0 0 calc(50% - 2px);
    box-sizing: border-box;
    background-color: rgb(50, 69, 96);
    margin: 1px;
    padding: 5px;
    cursor: pointer;
}

.project-button:hover {
    background-color: rgb(65, 89, 123);
}

.project-button-div {
    align-items: center;
    justify-content: center;
    display: flex;
}